body {
  font-family: Arial;
  background-color: #988686;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #d1d0d0;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  box-shadow: 8px 14px 20px 1px #797474;
}

h1 {
  color: #411402;
  margin-bottom: 20px;
  font-size: 40px;
}

.ascii-output {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  overflow: auto;
  max-height: 400px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #5c4e4e;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  height: 55px;
  text-align: center;
  transition: background-color 0.3s;
  width: 200px;
  border: transparent;
}

.btn:hover {
  background-color: #d1d0d0;
  color: #411402;
  border:1px #411402 solid;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 400px;
  }
  h1 {
    font-size: 33px;
  }
  .btn {
    width: 180px;
    height: 50px;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    width: 280px;
  }
  h1 {
    font-size: 25px;
  }
  .btn {
    width: 180px;
    height: 50px;
    margin: 0 0 10px 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 340px) {
  .container {
    width: 200px;
  }
  h1 {
    font-size: 20px;
  }
  .btn {
    width: 150px;
    height: 50px;
    margin: 0 0 10px 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
